.sorting-visualiser {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-top: 500px;
}

.array-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 2px;
  height: 300px;
  margin: 0 auto;
  max-width: 100%;
  width: 500px;
  overflow-x: auto;
}

.array-bar {
  background-color: #007bff;
}

.array-bar.animated {
  transition: height 0.1s ease;
}

.controls {
  margin-top: 20px;
}

.slider-container {
  margin: 10px 0;
}

.array-bar.dynamic {
  height: var(--bar-height);
  width: var(--bar-width);
}

.time-complexity-text {
  min-height: 80px;
  display: flex;
  align-items: flex-start;
}

.time-complexity-text pre {
  text-align: left;
  margin: 0;
}
